* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login {
  display: flex;
}

main , #evaluation-form {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

main img {
  height: 500px;
}

.group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
}

.w50 {
  width: 50%;
  flex-basis: 48%;

}

#middle {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

#family {
  display: flex;
  flex-direction: column;
}

#learn {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.logobody {
  display: flex;
  width: 50%;
  justify-content: center;
}
