* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

main,
#evaluation-form {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

main img {
  height: 500px;
}

.group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;  
}

.w50 {
  flex-basis: 48%;
}

#family {
  display: flex;
  flex-direction: column;
}